.form-section {
    background: #E7E3DA;
    padding-top: 45px;
    padding-bottom: 335px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.form-section__container {
    min-height: 481px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    .form-section__form {
        display: flex;
        flex-direction: column;
        max-width: 576px;
        row-gap: 24px;
        margin-left: 190px;
        margin-right: 145px;
        z-index: 2;

        .form-section__submit-button {
            height: 50px;
            background: #B79163;
            border: none;

            &:hover {
                color: #B79163;
                border: 1px solid #B79163;
                background-color: transparent;
            }
        }

        .form-section__item {
            display: block;
            width: 100%;
            position: relative;

            .form-section__input {
                border: none;
                background-color: transparent;
                height: 50px;
                width: 100%;
                padding-top: 18px;
                padding-bottom: 8px;
                border-bottom: 1px solid #B0A99F;

                &:focus {
                    outline: none;
                }

                &:focus+.form-section__label {
                    top: 0;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 150%;
                    color: #979086;
                }
            }

            .form-section__label {
                position: absolute;
                left: 4px;
                top: 16px;
                cursor: inherit;
            }
        }

    }
}

.form-section-button-group {
    display: flex;
    margin-left: 190px;
    column-gap: 36px;

    button {
        border: none;
        background-color: transparent;
    }
}

.form-section__title-container {
    display: flex;
    align-items: center;
    max-width: fit-content;
    column-gap: 16px;


    .form-section__title {
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 64px;
        color: #A18460;
    }
}

@media screen and(max-width:708px) {
    .form-section {
        .form-section__container {
            padding: 8px;
            .form-section__title-container {
                max-width: 100vw;
                flex-wrap: wrap;


                .form-section__title {
                    font-size: 33px;
                }
            }

            .form-section-button-group {
                margin: 0;
                margin: auto;
                max-width: 100vw;
                flex-wrap: wrap;
            }

            .form-section__form {
                margin: 0;
                margin: auto;
                max-width: 100vw;
            }
        }
    }
}